.form-wrap {
	display: flex; 
	flex-wrap: wrap; 
	margin: 0 -1rem 3rem;

	@include breakpoint(small down) {
        margin: 0 -1rem 2rem;
    }

    &__checkbox {
    	width: 100%;

    	input {
    		width: 1.4rem;
    		min-height: 1.4rem;
    		margin-right: 0.5rem;
    	}

    	label {
    		display: inline;
    		font-weight: normal;
    	}
    }
}