.interactive-map {
    margin: 10.7rem 0 0;
    @include breakpoint(medium down) {
        margin: 4.4rem 0 0;
    }
    &-info { 
        &-row {
            display: flex;
            flex-wrap: wrap;
             @include breakpoint(small down) {
                padding: 0 1rem;
            }
        }

        &-description { 
            width: 54%; 
            @include breakpoint(medium down) {
                width: 100%;
            }
            @include breakpoint(small down) {
                order: 1;
                padding: 0 0 1rem;
            }
        }

        .title-block {
            margin: 0 0 6rem;
            @include breakpoint(medium down) {
                margin: 0 0 2.3rem;
            }
            @include breakpoint(small down) {
                margin: 0 0 3.6rem;
            }
        }

        &-map {
            width: 46%;
            margin: 0 0 -31.2rem;
            position: relative;
           .decor-btn {
                position: absolute;
                top: -3.7rem;
                right: 0;
                width: 56.3rem;
                height: 56.3rem;
                font-size: 1.6rem;
                text-transform: uppercase;
                background: #212851;
                color: $color-2--1;
                border-radius: 50%;
                z-index: 0;
                div {
                    width: 11.7rem;
                    position: absolute;
                    top: 8.7rem;
                    right: 10.9rem;
                    font-size: 1.6rem;
                    font-weight: $bold;
                    span {
                        display: block;
                        margin: 1rem 0 1.5rem;
                    }
                    svg {
                        width: 60px;
                        height: 59px;
                        fill: $color-2--1; 
                    }
                }
                @include breakpoint(medium down) {
                    width: 48.3rem;
                    height: 48.3rem;
                    top: 0.3rem;
                    right: 0;
                    div {
                        display: flex;
                        align-items: center;
                        top: 6.5rem;
                        right: 8.5rem;
                    }
                }
                @include breakpoint(small down) {
                    display: block;
                    width: auto;
                    height: auto;
                    position: relative;
                    top: 0;
                    right: auto;
                    padding: 1.5rem 2rem 1.5rem 1.5rem;
                    margin: 1.4rem 0 0;
                    border-radius: 0;
                    div {
                        width: 100%;
                        position: relative;
                        top: auto;
                        right: auto;
                        padding: 0 2rem 0 7rem;
                        font-size: 1.4rem;
                        span {
                            br {
                                display: none;
                            }
                        }
                        svg {
                            position: absolute;
                            top: 50%;
                            left: 0;
                            transform: translateY(-50%);
                        }
                        i {
                            position: absolute;
                            top: 50%;
                            right: 0;
                            transform: translateY(-50%);
                        }
                    }
                }
            }
            @include breakpoint(medium down) {
                width: 72.8rem;
                margin: .8rem auto -5.3rem auto;
            } 
            @include breakpoint(small down) {
                order: 3;
                padding: 0 0 5.5rem;
                margin: 0 auto;
                position: relative;
                &::before {
                    content: '';
                    width: 9999px;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: -100%;
                    background: $color-2--4;
                    z-index: -1;
                }
            }
        }

        .info {
            font-size: 1.8rem;
            color: $color-1--3;
            padding-right: 30rem;
            p {
                line-height: 2.5rem;
            }
            @include breakpoint(medium down) {
                padding-right: 0;
            }
            @include breakpoint(small down) {
                width: 100%;
                font-size: 1.6rem;
                line-height: 1.3;
            }
        }
    }

    &-tooltip {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 41px;
        position: absolute;
        z-index: 101;
        font-size: 1.3rem;
        font-weight:$light;
        line-height: 1;
        color: $color-white;
        background: $color-3--3;
        padding: 14px 10px;
        pointer-events: none;
        text-transform: uppercase;
        margin-top: -40px;
        transform: translate(-50%, 0);
        &::before {
            content: '';
            position: absolute;
            top: 100%;
            left: 0;
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 14px 14px 0 0;
            border-color: $color-3--3 transparent transparent transparent;
        }
    }
    &-form {
        width: 100%;
        padding: 5.4rem 0 7rem;
        position: relative;
        &::before {
            content: '';
            width: 9999px;
            position: absolute;
            top: 0;
            bottom: 0;
            left: -100%;
            background: $color-2--4;
            z-index: -1;
        }
        form {
            margin: 0.3em 0 0;
        }
        .form {
            width: 564px;
            position: relative;
            z-index: 1;

            &-row {
                display: flex;
                select {
                    height: 6rem;
                    font-size: 1.7rem;
                    font-style: normal;
                    color: $color-1--3;
                    background-color: $color-white;
                    padding: 0 2rem 0 3rem;
                     background-position: calc(100% - 5em) 50%;
                }
                button {
                    margin: 0;
                    border-color: $color-2--1;
                    background: $color-2--1;
                    color: $color-1--3;
                    font-size: 1.6rem;
                    font-weight: $bold;
                    flex-shrink: 0;
                    display: flex;
                    align-items: center;
                    &:hover {
                        border-color: $color-1--3;
                        background: $color-1--3;
                        color: $color-2--1;
                        &::before {
                            color: $color-2--1;
                        }
                    }
                }
            }
        }
        @include breakpoint(medium down) {
            padding: 3.6rem 0 3rem;
            .form {
                width: auto;
                padding: 0 8rem;
                .title-line {
                    margin: 0 0 2rem;
                }
            }
        }
        @include breakpoint(small down) {
            order: 2;
            padding: 5.6rem 0 2rem;
            .title-line {
                margin: 0 0 3rem;
            }
            .form {
                padding: 0;
                &-row {
                    display: block;
                    select {
                        height: 5rem;
                        margin: 0 0 1rem;
                        padding: 0 2rem 0 1.5rem;
                        font-size: 1.5rem;
                    }
                }
            }
        }
    }
}

.svg-map {
    position: relative;
    z-index: 1;
    margin: -4.6rem 0 0 -30rem;
    pointer-events: none;
    svg {
        pointer-events: none;
        height: 74rem;
    }
    .st0-m{fill:url(#SVGID_1_m);stroke:#FFFFFF;stroke-width:0.5;pointer-events: none}
    .st1-m{fill:none;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st2-m{fill:none;stroke:#4E4E4E;stroke-width:0.288;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st3-m{display:none;fill:#E8D000;stroke:#FFFFFF;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}
    .st4-m{fill:#97DBF2;}
    .st5-m{fill:none;stroke:#008DB5;stroke-width:0.432;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10;}

    path.area {
        pointer-events:all;
    }

    path.area:hover,
    path.active {
        fill: #E8D000;
        stroke: #FFFFFF;
        stroke-linecap: round;
        stroke-linejoin: round; 
        stroke-miterlimit: 10;
    }
    @include breakpoint(medium down) {
        margin: 0;
        svg {
            height: auto;
        }
    }
}
