$height: 50rem;
$tablet-height: 38rem;

:root {
    --base: #212851;
    --bg-blend: screen;
    --blur: 0px;
    --fg-blend: multiply;
    --foreground: #79c7c3;
    --opacity: 1;
    --spacing: 0%;
  }

.page-image {
    position: relative;
    display: block;
    width: 100%;
    overflow: hidden;

    &__background {
        display: block;
        width: 100%;
        background-color: rgba($color-black,0.6);
        position: relative;

        &::before {
            background-color: rgba($color-black,0.6);
            bottom: 0;
            content: '';
            height: 100%;
            left: 0;
            position: absolute;
            right: 0;
            top: 0;
            width: 100%;
            z-index: 1;
        }

        img {
            @include size(100%);
            display: block;
            filter: grayscale(100%) contrast(1) blur(var(--blur));
            flex: 1 0 100%;
            height: 100%;
            max-width: 100%;
            object-fit: cover;
            position: relative;
            width: 100%;
        }

        &.-static-height {
            img {
                font-family: 'object-fit: cover; object-position: center;';
                height: $height;
                object-fit: cover;

                @include breakpoint(medium down) {
                    height: $tablet-height;
                }

                @include breakpoint(small down) {
                    height: auto;
                }
            }
        }
    }
}
